<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139157194-1"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-139157194-1');
    </script>

    <meta name="viewport" content="width=device-width, user-scalable=false">
    <!-- Disable dark reader. Its already dark! --->
    <meta name="darkreader-lock">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{ get_url(path="/style.css") }}">
    <link rel="stylesheet" href="https://unpkg.com/basic-css-typography-reset@1.0.0/typography.min.css">
    {% block head %}{% endblock head %}
    <title>Kaylee's Dev {% block title %}{% endblock title %}</title>
  </head>
  <body>
    <header>
      <h3>{% block header %}{% endblock header %}</h3>
    </header>
    <main>
      {% block content -%}{% endblock content %}
    </main>
  </body>
</html>
