{% extends "base.html" %}

{% block title %}
{% set parent = get_section(path=page.ancestors | last) %}
{{ parent.title }}
{% endblock title %}

{% block header %}
{{ super() }}
{% for ancestorPath in page.ancestors %}
{% set ancestor = get_section(path=ancestorPath) %}
<a href="{{ ancestor.permalink }}">{{ ancestor.title }}</a>
{% endfor %}
{{page.title }}
{% endblock header %}

{% block content %}
<article>
  <h1>{{ page.title }}</h1>
  <summary>
    <h2>
    {% if page.description %}
      {{ page.description }}
    {% endif %}
    </h2>
    <p>
    {% if page.date %}
      {{ page.date }}
    {% endif %}
    <br>
    {% if page.extra.project %}
      <a href="../../projects/{{ page.extra.project }}/">Project Page</a>
    {% endif %}
    </p>
  </summary>
  {{ page.content | safe }}
  {% block content_footer %}{% endblock content_footer %}
  {% block page_nav %}{% endblock page_nav %}
</article>

{% endblock content %}
