{% extends "base.html" %}

{% block title %}
{% set parent = get_section(path=page.ancestors | last) %}
{{ parent.title }}
{% endblock title %}

{% block header %}
{{ super() }}
{% for ancestorPath in page.ancestors %}
{% set ancestor = get_section(path=ancestorPath) %}
<a href="{{ ancestor.permalink }}">{{ ancestor.title }}</a>
{% endfor %}
{{page.title }}
{% endblock header %}

{% block content %}
<article>
  <h1>{{ page.title }}</h1>
  <summary>
    {% if page.description %}
      <h3>{{ page.description }}</h3>
    {% endif %}
    {% if page.date %}
      <p>{{ page.date }}</p>
    {% endif %}
  </summary>
  {% if page.extra.project %}
  <p>
    <a href="../../projects/{{ page.extra.project }}/">Project Page</a>
  </p>
  {% endif %}
  {{ page.content | safe }}
  {% block content_footer %}{% endblock content_footer %}
  {% block page_nav %}{% endblock page_nav %}
</article>

{% endblock content %}
