{% extends "base.html" %}

{% block title %}
{% set parent = get_section(path=page.ancestors | last) %}
{{ parent.title }}
{% endblock title %}

{% block header %}
{{ super() }}
{% for ancestorPath in page.ancestors %}
{% set ancestor = get_section(path=ancestorPath) %}
<a href="{{ ancestor.permalink }}">{{ ancestor.title }}</a>
{% endfor %}
{{page.title }}
{% endblock header %}

{% block content %}
<article>
  <summary>
    {% if page.description %}
    <h2>
      {{ page.description }}
    </h2>
    {% endif %}
    {% if page.date or page.extra.project %}
    <p>
    {% if page.date %}
      {{ page.date }}
    {% endif %}
    {% if page.extra.project %}
      <br>
      <a href="../../hemlock/projects/{{ page.extra.project }}/">Project Page</a>
    {% endif %}
    </p>
    {% endif %}
  </summary>
  {{ page.content | safe }}
  {% block content_footer %}{% endblock content_footer %}
</article>
{% endblock content %}
