{% extends "page.html" %}

{% block content_footer %}
  {% if page.extra.project_name != "blog" %}
    <h2>Dev Log</h2>
    <p>
      {{ page.title }} is a part of <a href="https://kaylees.dev/hemlock/blog/">my push</a> to make
      tangible and documented progress on a project every day.
    </p>
  {% endif %}

  {% set oak_posts = get_section(path="trio/oak/_index.md") %}
  {% set maple_posts = get_section(path="trio/maple/_index.md") %}
  {% set posts = oak_posts.pages | concat(with=maple_posts.pages) %}
  <p>
    {% for post in posts | sort(attribute="date") %}
      {% if post.extra.project and
            page.extra.project_name and
            post.extra.project == page.extra.project_name %}
        <a href="{{ post.permalink }}">{{ post.title }}</a>
        <br>
      {% endif %}
    {% endfor %}
  </p>
{% endblock content_footer %}
