{% extends "page.html" %}

{% block content_footer %}
  {% if page.extra.project_name != "blog" %}
    <h2>Dev Log</h2>
    <p>
      {{ page.title }} is a part of <a href="https://kaylees.dev/projects/blog/">my push</a> to make
      tangible and documented progress on a project every day.
    </p>
  {% endif %}

  {% set season1_posts = get_section(path="season1/_index.md") %}
  {% set season2_posts = get_section(path="season2/_index.md") %}
  {% set posts = season1_posts.pages | concat(with=season2_posts.pages) %}
  <p>
    {% for post in posts | sort(attribute="date") %}
      {% if post.extra.project and
            page.extra.project_name and
            post.extra.project == page.extra.project_name %}
        <a href="{{ post.permalink }}">{{ post.title }}</a>
        <br>
      {% endif %}
    {% endfor %}
  </p>
{% endblock content_footer %}
