{% extends "base.html" %}

{% block header %}
  {{ super() }}
  {% for ancestorPath in section.ancestors %}
  {% set ancestor = get_section(path=ancestorPath) %}
  <a href="{{ ancestor.permalink }}">{{ ancestor.title }}</a>
  {% endfor %}
  {{ section.title }}
{% endblock header %}

{% block content %}
  {{ section.content | safe }}
  {% for page in section.pages %}
    {% if page.draft != true %}
      <h2><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
      <summary>
        <p>{{ page.description }}<br>{{ page.date }}</p>
      </summary>
    {% endif %}
  {% endfor %}
{% endblock content %}
